.first-div {
  margin-left: 240px;
  margin-right: 250px;
  font-size: 10px;
  padding-top: 30px;
  display: flex;
}
.first-div p {
  color: white;
  padding-left: 7px;
}
.link {
  padding-left: 57px;
  display: flex;
}
.first-div a {
  color: white;
  padding-left: 10px;
}
.social {
  display: flex;
  color: white;
  padding-left: 590px;
  /* display: flex;
  color: white;
  padding-left: 544px; */
}
.social .fab {
  padding-left: 5px;
}
.second-div {
  padding-bottom: 100px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 10px;
}
.navbar-brand {
  font-family: "Abril Fatface", cursive;
  color: red !important;
  font-size: 30px;
}

.icon {
  border-left: 1px solid red;
}

.icon .fas {
  padding-left: 10px;
  font-size: 20px;
}
.cart-value {
  background: red;
  color: white;
  padding: 2px;
  width: 13px;
  height: 15px;
  border-radius: 2px;
  position: absolute;
  left: 943px;
  top: 13px;
}
.cart-value-two {
  background: red;
  color: white;
  padding: 2px;
  width: 13px;
  height: 15px;
  border-radius: 2px;
  position: absolute;
  left: 976px;
  top: 13px;
}
.cart-value h1 {
  font-size: 10px;
  text-align: center;
}
.cart-value-two h1 {
  font-size: 10px;
  text-align: center;
}

.side-menu-one {
  width: 200px;
  height: 30%;
  background-color: red;

  padding-top: 10px;
  overflow-x: hidden;
  transition: all 0.5s;
}

.side-menu-one a {
  padding: 1px 0px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: white;
  display: block;
}
.side-menu-one a:hover {
  text-decoration: underline;
}

.side-menu {
  position: fixed;
  top: 320px;
  left: 381px;
  width: 0px;
  height: 100%;

  background-color: red;
  padding-top: 10px;
  overflow-x: hidden;
  transition: all 0.5s;
}

.side-menu a {
  padding: 1px 0px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: white;
  display: block;
}
.side-menu a:hover {
  text-decoration: underline;
}
/* .close-btn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 30px !important;
  margin-left: 32px;
} */

.search-field {
  position: absolute;
  top: 129px;
  right: 253px;
}
#search {
  display: none;
}
/* hero section */

.hero-container {
  background: red;
}

/* product */
/* 
.product-container {
  padding-left: 80px;
  padding-right: 80px;
  place-items: center;
  width: 100%;
  height: 70vh;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
}
.slider {
  padding-top: 30px;
}

.product-container a {
  text-decoration: none !important;
}
.product {
  background-color: #fff;
  text-align: center;
}
.product .product-image {
  overflow: hidden;
  position: relative;
}
.product .product-image a.image {
  display: block;
}
.product .product-image img {
  width: 100%;
  height: auto;
}
.product .product-image .pic-1 {
  transition: 0.5s;
}

.product .product-image:hover .pic-1 {
  opacity: 0;
}
.product .product-image .pic-2 {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.product .product-image:hover .pic-2 {
  opacity: 1;
}
.product .discount {
  color: #fff;

  background: black;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 50px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product .cart {
  color: #000;
  background: #fff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  opacity: 0.85;
  padding: 4px 14px;
  transform: translateX(-50%);
  position: absolute;
  bottom: -75px;
  left: 50%;
  transition: 0.5s;
}
.product .cart:hover {
  opacity: 1;
  color: #fff;
  background: black;
}
.product:hover .cart {
  bottom: 0px;
}
.product .links {
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: -50px;
  transition: 0.5s;
  margin-bottom: 5px;
}

.product:hover .links {
  opacity: 1;
  right: 10px;
}

.product .links li a {
  color: #fff;
  font-size: 12px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: block;
  background: #000;
  transition: 0.5s;
  margin-bottom: 5px;
}
.product:hover .links li a:hover {
  color: #fff;
  background: red;
}

.product .content {
  padding: 12px;
}
.product .category {
  font-size: 17px;
  margin: 0 0 5px;
  display: block;
}

.product .category a {
  color: #999;
  transition: 0.5s;
  font-size: 14px;
}
.product .category a:hover {
  color: #555;
}
.product .title {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 8px;
}

.product .title a {
  color: #444;
  transition: 0.5s;
}

.product .price {
  color: red;
  font-size: 17px;
  font-weight: 700;
}
.product .price span {
  color: #888;
  margin: 0 5px 0 0;
  font-weight: 300;
  font-size: 14px;
}
.product-container-two {
  margin-bottom: 176px;
  padding-left: 80px;
  padding-right: 80px;
  place-items: center;
  width: 100%;
  height: 70vh;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
}
 */
/* @media screen and (min-width: 320px) {
  .first-div {
    margin-left: 1px !important;
    font-size: 10px !important;
    padding-top: 30px !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }
  .navbar {
    width: 300px !important;
  } */

/* service section */
.side-div {
  margin-right: 176px;
}
.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-container .s-div {
  border-right: 1px solid gray;
  padding-left: 20px;
  text-align: center;
}
.details {
  padding-right: 50px;
}
.details2 {
  padding-right: 50px;
  padding-left: 10px;
}
.details3 {
  padding-left: 30px;
}

@media screen and (max-width: 667px) {
  .first-div {
    margin-left: 20px;
    font-size: 10px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
  }
  .link {
    padding-left: 24px;
    display: flex;
  }
  .social {
    font-size: 12px;
    display: flex;
    color: white;
    padding-left: 239px;
  }
  .second-div {
    padding-bottom: 100px;
    margin-left: 10px;
    /* margin-right: -35px; */
    margin-top: 10px;
  }
  .navbar {
    width: 394px;
  }
  .navbar img {
    width: 74%;
  }
  .cart-value {
    background: red;
    color: white;
    padding: 2px;
    width: 13px;
    height: 15px;
    border-radius: 2px;
    position: absolute;
    left: 73px;
    top: 126px;
  }
  .cart-value-two {
    background: red;
    color: white;
    padding: 2px;
    width: 13px;
    height: 15px;
    border-radius: 2px;
    position: absolute;
    left: 107px;
    top: 126px;
  }
  /*  .product-container {
    place-items: center;
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    padding-top: 50px;
  } */

  .nav-link {
    padding-bottom: 10px;
  }
  .search-field {
    position: absolute;
    top: 243px;
    right: 13px;
    left: 167px;
  }
  .service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
  }
  .service-container .s-div {
    border: none;
    padding-top: 10px;
  }
  .side-div {
    padding-left: 146px;
    margin-right: 176px;
  }
  .details3 {
    padding-left: 0px;
  }
  /*  .side-menu-one {
    width: 249px;
    height: 30%;
    padding-left: 30px;
    padding-bottom: 20px;
    background-color: red;
    padding-top: 10px;
    overflow-x: hidden;
    transition: all 0.5s;
  } */
  .footer-two {
    background: #000;
    color: white;
    padding-left: 50px !important;
    padding-right: 10px !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-two img {
    padding-left: 10px !important;
  }
}

/* @media screen and (max-width: 999px) {
  .product {
    margin: 0 0 30px;
  }
} */
/* 
.owl-controls .owl-buttons {
  position: relative;
}

.owl-controls .owl-prev {
  position: absolute;
  left: -40px;
  bottom: 185px;
  padding: 8px 17px;
  background: #000;
  border-radius: 50px;
  transition: 0.5s;
}
.owl-controls .owl-next {
  position: absolute;
  left: -40px;
  bottom: 185px;
  padding: 8px 17px;
  background: #000;
  border-radius: 50px;
  transition: 0.5s;
}
.owl-controls .owl-prev:after,
.owl-controls .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #fff;
  font-size: 16px;
}
.owl-controls .owl-next:after {
  content: "\f105";
}
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
}
 */

.footer-container {
  padding-top: 50px;
  background: #000;
  color: white;
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 1px solid gray;
}
.footer-container h4 {
  margin-right: 130px;
  padding-bottom: 20px;
}

.footer-links a {
  display: flex;
  text-decoration: none;
  color: red !important;
  font-weight: bold;
}
.footer-links a:hover {
  text-decoration: underline;
}
.contact-footer {
  text-align: left;
}

.footer-two {
  background: #000;
  color: white;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-two img {
  padding-left: 230px;
}
